[*.{cs,vb}]

# IDE0040: Добавьте модификаторы доступности
dotnet_style_require_accessibility_modifiers = always:silent

# CS0659: Тип переопределяет Object.Equals(object o), но не переопределяет Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = silent
