<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ISTraining_Part.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="ISTraining_Part.log" />
      <param name="AppendToFile" value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d  %-5p %m%n" />
      </layout>
    </appender>
    <logger name="LOGGER">
      <appender-ref ref="LogFileAppender" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DryIoc" publicKeyToken="dfbf2bd50fcf7768" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ISTraining_Part.Properties.Settings>
      <setting name="left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="state" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="lastLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="lastPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="server" serializeAs="String">
        <value>http://localhost:8080</value>
      </setting>
      <setting name="isDarkTheme" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="themeColor" serializeAs="String">
        <value>#00000000</value>
      </setting>
    </ISTraining_Part.Properties.Settings>
  </userSettings>
</configuration>
