<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net461" />
  <package id="DevExpressMvvm" version="19.2.3" targetFramework="net461" />
  <package id="DryIoc.dll" version="4.0.7" targetFramework="net461" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net461" />
  <package id="Extended" version="1.0.1" targetFramework="net461" />
  <package id="Fody" version="6.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="3.0.1" targetFramework="net461" />
  <package id="MaterialDesignXaml.DialogsHelper" version="1.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net461" />
  <package id="Prism.DryIoc" version="7.2.0.1422" targetFramework="net461" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="3.2.6" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>